
.flex {
  display: flex;
}

span {
  font-size: 12px;
}

mat-card {
  padding: 10px;
  min-height: 20px;
  overflow-wrap: break-word;
  white-space: initial;
  min-width: 0;
  //width: 100%;
}

.sender div, .recipient div {
  max-width: 60%;
  width: 200px;
}

.sender div {
  text-align: right;
}

.recipient {
}

.sender {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-end; /* Safari 6.1+ */
  //display: flex;
  //margin-right: 10px;
  align-items: flex-end;
}

