<button mat-fab (click)="menu.toggle()" class="btn menu-btn"><mat-icon>{{menu.opened ? 'close' : 'menu'}}</mat-icon></button>
<button mat-fab *ngIf="menu.opened" (click)="navigateToHome()" class="btn home-btn"><mat-icon>home</mat-icon></button>
<mat-drawer-container [hasBackdrop]="false" class="drawer">
  <mat-drawer #menu (openedChange)="onMenuOpenChange($event)" class="drawer-content" [autoFocus]="false" position="end" mode="over">
    <ng-content select="[menu]"></ng-content>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content select="[body]" class="main-content"></ng-content>
  </mat-drawer-content>
</mat-drawer-container>


