.flex {
  display: flex;
}

mat-form-field {
  width: 100%;
}

.flex-row {
  height: calc(100% - 66px);
  display: flex;
  flex-direction: column;
}

.overflow {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.row {
  margin-bottom: 10px;
}


.message {
  margin: 0 auto;
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 0;
  right: 0;
}
